<div class="login-reset">
  <form [formGroup]="loginForm" (submit)="resetPassword()">
    <h2>Esqueceu sua senha?</h2>

    <p>Digite o e-mail cadastrado e enviamos uma nova!</p>

    <rvbx-input>
      <label for="email">E-mail</label>
      <input
        rvbxInputText
        formControlName="userEmail"
        type="email"
        name="email"
        id="email"
      />
      <small
        *ngIf="
          loginForm.get('userEmail').touched &&
          loginForm.get('userEmail').errors?.required
        "
        >Digite um e-mail</small
      >
      <small
        *ngIf="
          loginForm.get('userEmail').touched &&
          !loginForm.get('userEmail').errors?.required &&
          loginForm.get('userEmail').errors?.email
        "
        >Digite um e-mail valido</small
      >
    </rvbx-input>

    <button rvbxButton type="submit" [disabled]="loginForm.invalid">
      Enviar
    </button>
  </form>
</div>
