.login-reset {
  padding: 38px 30px;
  user-select: none;
  display: flex;
  flex-direction: column;
  color: #737373;
  form {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0 0 40px;
    }
  }
}
