.login-form {
  padding: 52px 38px;
  user-select: none;
  display: flex;
  flex-direction: column;
  color: #737373;
  form {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0 0 40px;
    }
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      span {
        font-weight: 600;
        cursor: pointer;
        margin-top: 12px;
      }
    }
  }
}
