.login-form {
  padding: 52px 38px;
  user-select: none;
  display: flex;
  flex-direction: column;
  color: #737373;
  form {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0 0 40px;
    }
    button {
      background-image: linear-gradient(to right top, #880177, #fd5800);
      border: 4px solid #ffffff00;
      border: none;
      padding: 14px 10px;
      border-radius: 6px;
      color: #fff;
      margin: 8px 0 8px;
      opacity: 90%;
      cursor: pointer;
      font-weight: 600;
      -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
      transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
      &:hover {
        opacity: 95%;
      }
      &:active {
        opacity: 100%;
      }
      &:disabled {
        background-image: none;
        color: #737373;
        background-color: #ffffff00;
        border: 4px solid #737373;
        padding: 10px;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      span {
        font-weight: 600;
        cursor: pointer;
        margin-top: 12px;
      }
    }
  }
}
